.character{
    &-conteiner{
        max-width: 84%;
        margin: 5rem auto 0 5rem;
        padding: 0 1.5rem;
        display: flex;
        padding-left: 8.8rem;
        padding-right: 8.8rem;
        text-align: left;
       

        @media(max-width: 577px){
           flex-direction: column;
           max-width: 100%;
           padding: 0;
           margin-left: 1.5rem;
           margin-right:1.5rem;
           margin-bottom: 4rem;
           
        }
    }

    &-aside{
        
        width: 42%;
       
        @media(max-width: 577px){
            width: 100%;
            
            
          }

        &-image{

            
            img{
                margin-top: 1.5rem;
                margin-bottom: 1.5rem;
                width: 100%;
                height: auto;
                display: block;
                
                @media(max-width: 577px){
                    margin-top: 1.7rem;
                    margin-bottom: 0;
                }
               
             
            }
           
        }
    }

    &-main{
        flex: 1;
        padding-left: 1.5rem;
        
        
        @media(max-width: 577px){
            padding: 0;
            
            
        }
        
    }

    &-name{
        border-top: 1px solid ;
        padding-top: 0.5rem;
        margin-top: 1.5rem;
        text-align: center;
        font-size: 24;
        
        h2{
            border-bottom: 1px solid;
            padding: 0.5rem 0 0.5rem 0;

        }

        @media(max-width: 577px){
           
            margin-top: 1rem;

            h1{
              font-size: 20px;  
            }
            h2{
                font-size: 20px;
            }
            
        }


    }
        
      &-info{
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid;
            padding: .75rem;
            

            @media(max-width: 577px){
                flex-direction: column;
                align-items: center;
                
            }


             &-title{
                flex: 1;
                padding-left: 0.5rem; 

             

            }

            &-content{
                flex: 1;
                padding-left: 14.75rem;
               
            }

            
            

        }
        
      
       
         
    

   
}